<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 自動掃描包，讓指定包的註解生效，由IOC容器統一管理 -->
	<context:component-scan
		base-package="com.hanaya.*" />

	<!-- 讓Spring MVC不處理靜態資源 -->
	<mvc:default-servlet-handler />

	<!-- 支援mvc註解驅動 在spring中一般採用@RequestMapping註解來完成對應關係 要想使@RequestMapping註冊生效 
		必須向上下文中註冊DefaultAnnotationHandlerMapping 和一個AnnotationMethodHandlerAdapter例項 
		這兩個例項分別在類級別和方法級別處理。 而annotation-driven配置幫助我們自動完成上述兩個例項的注入 -->
	<mvc:annotation-driven />
	<mvc:resources location="/img/" mapping="/img/**"/>  
	<!-- 檢視解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		id="internalResourceViewResolver">
		<!-- 字首 -->
		<property name="prefix" value="/WEB-INF/front/" />
		<!-- 字尾 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="JdbcUrl" value="jdbc:mysql://localhost:3306/hanaya" />
		<property name="username" value="Huan" />
		<property name="password" value="Huan3661346" />
		
		<property name="autoCommit" value="true" />
		<property name="minimumIdle" value="10" />
		<property name="maximumPoolSize" value="25" />	
		<property name="idleTimeout" value="30000" />
<!-- 		<property name="poolName" value="springHikariCP" /> -->
		<property name="poolName" value="ExpendHikariCP" />
		<property name="maxLifetime" value="1800000" />
		<property name="connectionTimeout" value="30000" />
	</bean>
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	    <constructor-arg ref="hikariConfig" />
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />	
		<property name="packagesToScan" value="com.hanaya.model" />	
		<property name="hibernateProperties" >	
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>	
				<prop key="hibernate.show_sql">true</prop>		
			</props>
		</property>
	</bean>		
	<tx:annotation-driven />
  <bean id="transactionManager"
    class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

</beans>
